<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875658486082-9pnu4dmo8e9fkfhv2g311t3e8mipuuv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875658486082-9pnu4dmo8e9fkfhv2g311t3e8mipuuv4</string>
	<key>API_KEY</key>
	<string>AIzaSyCx8_tUT98MAM5LxhYbvdPX0NwFWwjAzDk</string>
	<key>GCM_SENDER_ID</key>
	<string>875658486082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>harsha.SIGNLOGINMODULE</string>
	<key>PROJECT_ID</key>
	<string>swiftui-tutorial-6565a</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-tutorial-6565a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875658486082:ios:e180547860eeeca880e8db</string>
</dict>
</plist>